@media (min-width: 1001px) {
    header {
        position: fixed;
        width: 100%;
        z-index: 777;
        background: rgba(100, 177, 255, 0.7);
        box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.02);
        backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }
    .navbar {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 16px 72px;
    }
    .checkbox {
        display: none;
    }
    .nav-container {
        display: flex;
        align-items: center;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .menu-items {
        display: flex;
    }
    .navbar .nav-container li {
        list-style: none;
    }
    .btn_menu {
        margin-left: 42px;
    }
    .navbar .nav-container li a {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.003em;
        color: #fff;
    }
    .navbar .nav-container li a:hover {
        font-weight: 700;
    }
    .navbar .menu-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 944px;
    }
    .logo {
        margin-right: 52px;
    }
}

@media (max-width: 1000px) {
    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }
    .navbar .menu-items {
        display: flex;
    }
    .navbar .nav-container li {
        list-style: none;
    }
    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }
    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }
    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }
    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
    }
    .nav-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }
    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    .nav-container input[type="checkbox"]:checked~.logo {
        display: none;
    }
}